doctype
html
  head
      link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
      link(rel="stylesheet", href="/css/bootstap.css")
      link(rel="stylesheet", href="/node_modules/toastr/toastr.css")
    
      
  body
    h1 Hello World
